@model IEnumerable<Rental4You.ViewModels.ApplicationUserViewModel>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<h1>Utilizadores</h1>
<table class="table table-striped table-hover table-bordered mt-4">
    <thead>
        <tr>
            <th>Username</th>
            <th>Id</th>
            <th>Primeiro Nome</th>
            <th>Ultimo Nome</th>
            <th>Ativo</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.UserId
                </td>
                <td>
                    @item.PrimeiroNome
                </td>
                <td>
                    @item.UltimoNome
                </td>
                <td>
                    <input type="checkbox" checked="@item.Ativo" onclick="return false;"/>
                </td>
                <td>
                    @string.Join(" , ", item.Roles.ToList())
                </td>
                @if (item.UserId != UserManager.GetUserId(User))
                {
                    <td align="center">
                        <a class="btn-primary btn" asp-action="Details" asp-controller="ApplicationUsers" asp-route-userId="@item.UserId">Editar Utilizador</a>
                    </td>
                } else{
                    <td align="center">
                        
                    </td>
                }
                
            </tr>
        }

    </tbody>
</table>
