@model IEnumerable<Rental4You.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Empresas</h1>

@using (Html.BeginForm("Index", "Empresas", FormMethod.Get))
{
    <input type="text" name="NomeEmpresa"
       id="TextoAPesquisar" placeholder="texto a procurar"
       class="form-control form-control-sm" />

    <div class="form-inline d-flex ">
        <div class="form-group">
            <label name="Estado" class="control-label">Estado</label>
            <select name="Estado" class="form-select" asp-items="ViewBag.Estados"></select>
        </div>

        <button type="submit"
            class="btn btn-default ms-2 me-2">
            Filtrar
        </button>
    </div>
}

<p>
    <a asp-action="Create">Adicionar Empresa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoSubscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avalicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoSubscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avalicao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
